// 歌单推荐列表样式
.list-container {
  width: 982px;
  height: 100%;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: row;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;

  // 左侧歌单列表区域样式
  #re-ListLeft {
    width: 730px;
    height: 100%;
    box-sizing: border-box;
    border-right: 2px solid #d3d3d3;
    padding: 20px;

    //// 唱片列表样式
    //.album-cover {
    //  height: 700px;
    //}

    .newSongsList {
      // 给定高度值
      margin-top: 40px;
    }

    // 新碟上架模块样式
    .new-album {
      width: 100%;
      height: 186px;
      background: #f5f5f5;
      margin-top: 20px;
      margin-bottom: 30px;
      border: 1px solid #e1e1e1;
      box-sizing: border-box;
    }

    // 榜单模块样式
    .top-rank {
      margin-top: 20px;
      height: 473px;
      width: 100%;
      background: #f4f4f4;
      box-sizing: border-box;
      border: 1px solid #e1e1e1;
    }

  }

  // 右侧歌单列表样式
  #re-ListRight {
    width: 252px;
    box-sizing: border-box;
    height: 100%;

    .login {
      width: 100%;
      height: 122px;
      background: linear-gradient(#fcfcfc, #e2e2e2);
      box-sizing: border-box;
      padding: 20px;

      span {
        color: #666;
      }

      .Login-button {
        height: 30px;
        width: 100px;
        background: #c90c13;
        display: block;
        margin: 20px auto;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        color: white;
        box-shadow: 1px 1px 0 #666;

        &:hover {
          background: #e3232a;
        }
      }
    }

    // 入驻歌手
    .singers {
      height: 445px;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        height: 26px;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 8px;

        h4 {
          font-weight: bolder;
          color: #242424;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .content {
        > ul {
          display: flex;
          flex-direction: column;

          li {
            margin-top: 14px;
            height: 63px;
            width: 100%;
            background: #fafafa;
            border: 1px solid #e9e9e9;

            &:hover {
              background: #f4f4f4;
            }

            a {
              display: flex;
              height: 100%;
              width: 100%;
              flex-direction: row;

              img {
                height: 62px;
                width: 62px;
              }

              .singer-name {
                padding: 7px 10px 7px 10px;
                flex: 1;

                h5 {
                  font-size: 14px;
                  font-weight: bolder;
                  color: #242424;
                }
              }
            }
          }
        }

        .apply-btn {
          margin-top: 14px;
          height: 32px;
          width: 100%;
          text-align: center;
          line-height: 28px;
          color: #242424;
          font-weight: bolder;
          border: 2px solid #c4c4c4;
          border-radius: 5px;
          background: linear-gradient(#ffffff, #f1f1f1);
          cursor: pointer;

          &:hover {
            background: #ffffff;
          }
        }
      }
    }

    // 热门主播
    .anchor {
      margin-top: 50px;
      height: 294px;
      width: 100%;
      padding: 20px;

      .title {
        height: 26px;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 8px;

        h4 {
          font-weight: bolder;
          color: #242424;
        }
      }

      .content {
        > ul {
          li {
            margin-top: 14px;

            a {
              height: 40px;
              width: 100%;
              display: flex;
              flex-direction: row;

              img {
                width: 40px;
                height: 40px;
              }

              .describe {
                display: flex;
                flex-direction: column;
                padding-left: 8px;
                padding-top: 4px;

                h4 {
                  line-height: 14px;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                .profession {
                  width: 163px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
}
